*{
  font-family: Montserrat, sans-serif;
}
// This will remove iOS Header Line
ion-toolbar {
  --border-width: 0 !important;
}

// Removing Android Header Line
.header-md::after {
  background: none !important;
}

.container h1 {
  margin-top: 0;
  color: #1c2241;
}

.backbtn {
  margin-left: 20px;
}

.form-container {
  margin-top: 48px;
}

.form-container ion-item {
  --padding-start: 0;
  --border-color: #DADADA;
}

.form-container ion-item ion-label {
  color: #A6A6A6;
}

.form-container ion-item ion-icon {
  margin-top: auto;
  color: #c6cbd4;
}

.form-container ion-button {
  margin-top: 48px;
}

.sign-up {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up ion-button {
  margin: 0;
  color: #000;
  font-weight: bold;
}

.main-button{
  --background: #1c2241;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
}

span{
  color: gray;
  font-size: 13px;
}
