<ion-content>
  <div class="header">
    <div class="following">
      <div class="followers"></div>
      <div class="followers"></div>
    </div>
  </div>
  <div class="position">
    <div class="border-img">
      <div class="img">
        <img src="../../assets/IMG-3360.jpg"/>
      </div>
    </div>
  </div>
  <div style="display: flex; justify-content: center;">
    <div>
      <h3 class="titleName">Irié Mohamed</h3>
    </div>
  </div>
  <div class="seperator">
    <hr />
  </div>
  <h6 class="me"><b>ME CONCERNANT</b></h6>
  <div class="ion-padding">
    <div>
      <div class="menu_positions">
        <ion-icon name="person-outline"></ion-icon>&nbsp;&nbsp;
        <h5>Informations</h5>
      </div>
      <div class="chevron-flex">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>
    <div>
      <div class="menu_positions">
        <ion-icon name="documents-outline"></ion-icon>&nbsp;&nbsp;
        <h5>Contrat d'exercice</h5>
      </div>
      <div class="chevron-flex">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>
    <div [routerLink]="['/changer-mot-de-passe']">
      <div class="menu_positions">
        <ion-icon name="key-outline"></ion-icon>&nbsp;&nbsp;
        <h5>Changer mot de passe</h5>
      </div>
      <div class="chevron-flex">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>
  </div>
  <div class="seperator">
    <hr />
  </div>
  <h6 class="mission"><b>AIDE ET CONTACT</b></h6>
  <div class="ion-padding" style="margin-top: -1.5em">
    <div class="menu_positions">
      <ion-icon name="share-social-outline"></ion-icon>&nbsp;&nbsp;
      <h5>Partager cette application</h5>
    </div>
    <div class="menu_positions" [routerLink]="['/conditions-generales']">
      <ion-icon name="document-text-outline"></ion-icon>&nbsp;&nbsp;
      <h5>Conditions générales d'utilisation</h5>
    </div>
    <!--<div class="menu_positions">
      <ion-icon name="log-out-outline"></ion-icon>&nbsp;&nbsp;
      <h5>Déconnexion</h5>
    </div>-->
  </div>
</ion-content>
