<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="notification-position ion-padding">
      <ion-back-button icon="chevron-back-outline" size="small"></ion-back-button>
      <ion-title>Contrat d'exercice</ion-title>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content >
  <div class="p2">
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi eos minus illum aliquam. Rem sed,
      aliquam repellat explicabo unde tenetur animi quisquam quae deleniti nemo molestias rerum dolores
      incidunt repellendus!
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi eos minus illum aliquam. Rem sed,
      aliquam repellat explicabo unde tenetur animi quisquam quae deleniti nemo molestias rerum dolores
      incidunt repellendus!
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi eos minus illum aliquam. Rem sed,
      aliquam repellat explicabo unde tenetur animi quisquam quae deleniti nemo molestias rerum dolores
      incidunt repellendus!
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi eos minus illum aliquam. Rem sed,
      aliquam repellat explicabo unde tenetur animi quisquam quae deleniti nemo molestias rerum dolores
      incidunt repellendus!
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi eos minus illum aliquam. Rem sed,
      aliquam repellat explicabo unde tenetur animi quisquam quae deleniti nemo molestias rerum dolores
      incidunt repellendus!
    </p>
  </div>
</ion-content>
