* {
  font-family: Montserrat, sans-serif;
}
ion-content {
  --background:#fff;
  overflow-y: hidden !important;
  ion-header {
      ion-toolbar {
          --background: transparent;
      }
  }
  .first-action{
    margin-top: -0.6em;
    padding: 1em;
    display: flex;
    justify-content: start;

    ion-checkbox{
      margin-top: 0.6em;
      margin-left: 0.5em;
    }
  }

  .toolbar-top{
    overflow-y: hidden !important;
    margin-bottom: -2.3em;
  }

  .second-action{
    margin-top: -5em;
    padding: 1em;
    display: flex;
    justify-content: end;

    ion-checkbox{
      margin-top: 0.6em;
      margin-left: 0.5em;
    }
  }


  ion-checkbox:nth-child(1){
    margin-left: 2em;
  }
}

ion-footer {
  --background:#fff;
  ion-card{
    margin: 0 !important;
    padding-top: 0 !important;
    padding: 0.5em;
    border-radius: 8px;
    border: 1px solid #1c2241;
    img{
      border-radius: 8px;
    }
    .toggle-element{
      display: flex;
      justify-content: space-between;

      h6{
        font-weight: bold;
        font-size: 11px;
        margin-top: 1.3em;
        color: #1c2241;
      }

      ion-toggle{
        margin-top: -0.7m;
      }
    }
  }

  .head-card{
    border: 1px solid #fff;
    border-radius: 0 !important;

    .input-card{
      border-radius: 8px;
      padding: 0.5em;
      display: flex;
      justify-content: space-around;

      .first-icon-location{
        position: absolute;
        z-index:1;
        left: 30px;top: 18px;
        color: gray;
      }

      .second-icon-location{
        position: absolute;
        z-index:1;
        margin-left: 3.7em;
        top: 18px;
        color: gray;
      }

      input{
        margin-top: 0.3em;
        border-radius: 10px;
        height: 5px;
        width: 170px;
        border: 1px solid gray;
        padding: 1em;
        text-align: center;
      }
      input:focus{
        outline: none;
      }
    }
  }

  .montant{
    display: flex;
    justify-content: space-around;

    ion-button{
      margin-top: 0.8em;
      --background: #1c2241;
    }

    h6{
      color: #1c2241;
      font-weight: bold;
    }
  }
}
