<ion-footer class="ion-no-border">
  <div class="toolbar-top">
    <div class="first-action">
        <div *ngFor="let menu of list; let i = index">
          <h6>{{menu.name}}</h6>
          <ion-checkbox mode="ios" slot="start" [disabled]="list[i].value" (click)="selection(menu.name);"></ion-checkbox>
        </div>
    </div>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngIf="toggled">
        <ion-card>
          <div class="toggle-element">
            <h6>CAMION</h6>
            <ion-toggle slot="end" [enableOnOffLabels]="true"></ion-toggle>
          </div>
          <img src="../../assets/images/camion.jpg" alt="TRICYLE">
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <div class="toggle-element">
            <h6>CAMIONNETTE</h6>
            <ion-toggle slot="end" [enableOnOffLabels]="true"></ion-toggle>
          </div>
          <img src="../../assets/images/camionnette.jpg" alt="CAMIONNETTE">
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <div class="toggle-element">
            <h6>MOTO TRICYLE</h6>
            <ion-toggle slot="end" [enableOnOffLabels]="true"></ion-toggle>
          </div>
          <img src="../../assets/images/tricyle.jpeg" alt="TRICYLE">
        </ion-card>
      </ion-col>
      <ion-col size="6" *ngIf="!toggled">
        <ion-card>
          <div class="toggle-element">
            <h6>MOTO KTM</h6>
            <ion-toggle slot="end" [enableOnOffLabels]="true"></ion-toggle>
          </div>
          <img src="../../assets/images/moto.jpg" alt="MOTO KTM">
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <div class="toggle-element">
            <h6>BACHET</h6>
            <ion-toggle slot="end" [enableOnOffLabels]="true"></ion-toggle>
          </div>
          <img src="../../assets/images/bachet4.jpg" alt="BACHET">
        </ion-card>
      </ion-col>
  </ion-row>
</ion-grid>
<ion-card class="head-card" mode="ios">
  <div class="input-card">
    <input type="text" placeholder="Quelle est votre adresse de depart ?" (click)="openMap()">
    <img src="../../assets/images/colis-livre.png" class="delevery">
    <ion-icon name="chevron-forward"></ion-icon>
  </div>
  <div class="center-title">
    <h6>Cliquez pour choisir votre destination</h6>
  </div>
</ion-card>
</ion-footer>
